#container{
   border: 1px solid black;
   width: 60%;
}


@media screen and (min-width:400px) {
    #container{
        width: 90%;
    }
}

@media screen and (min-width:600px) {
    #container{
        width: 90%;
    }
}

@media screen and (min-width:1000px) {
    #container{
        width: 100%;
    }
}
/* @media screen and (max-width: 900px){
    #container{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    #container{
        width: 100%;
    }
} */

/* #animation{
    height: 100px;
    width: 100px;
    top: 20%;
    left: 20%;
    position: absolute;
    background-color: aquamarine;
    transition: all 1s ease-in-out;
}

#animation:hover{
    height: 400px;
    width: 400px;
    transform: scale(1.5) translate(150px);
} */