body{
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* Body Header */
#body-header{
    height: 65vh;
    background-size: cover;
    background-position: center;
    background:linear-gradient(#2857a4,#403066);
    opacity: 1;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: linear-gradient(#2857a4,#403066);
    /* box-shadow: 0px 4px 8px 1px #535547; */
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    left: 0%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
} 
/* Horizontal Lists */
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s ease-in-out;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

.header-name h4{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#name-social-container{
    margin-top: 20vh;
}

.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* .social-icons li a i{
    width: 1rem;
    padding: 8px;
} */

/* about */
#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    
}

#my-image img{
    margin-top: -5vh;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.8);
}

#about{
    display: block;
}
#about-me{
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top: 60px;
}

.about-description{
    margin-left: 80px;
    margin-top: 40px;
    overflow-wrap: break-word;
    
}

.about-description h2{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: justify;
   
}
.about-description p{
    /* text-align :start; */
    line-height: 1.0rem;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#flex-try{
    display: flex;
    justify-content: center;
}

.image{
    margin-left: 80px;
    /* height: 250px; */
    /* margin-right: -40px; */
}

section{
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgray;
}

section:nth-child(2n + 1){
    background-color: whitesmoke;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;

}

/*Skills Section*/
#skills{
    height: auto;
    top: 5px;
}

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

/* Contact Form */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    margin-top: 3%;
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-top: 4%;
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Timeline */

.timeline{
    position: relative;
    width: 75%;
}

.timeline-box{
    position: relative;
    width: 40%;
    margin: 5px;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n){
    left: 53%;
}
.timeline-box-heading{
    padding: 10px;
    
}

.timeline-box h1{
    color: #2857a4;
}
.timeline-box p{
    line-height: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    top: 15%;
    left: -13%;
    width: 25px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}
@media only screen and (max-width: 572px) {

    #name-social-container{
        margin-top: 13vh;
    }
    
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 
}

@media screen and (max-width: 768px){
    .timeline-divider{
        left: 5%;
    }
    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    .timeline-box::after{
        left: -11% !important;
    }

    #education{
        height: auto;
    }
    #work-experience{
        height: auto;
    }

    #flex-try{
        margin-right: 20%;
        margin-bottom: 0.1%;
    }
    #contact{
        height: auto;
    }
    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }

}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-box:nth-child(2n+1):after{
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-box:nth-child(2n):after{
    content: '';
    position: absolute;
    top: 30%;
    left: -8.5%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}
